@model List<DeliveryTrackingApp.Areas.Admin.ViewModels.DriverViewModel>;
@{
    ViewData["Title"] = "Drivers";
}
<div class="p-5">
    <div class="py-4">
        <a asp-controller="Driver" asp-action="New" class="btn-primary">New Driver</a>
    </div>
    <div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Given Name</th>
                <th>Surname</th>
                <th>Contact No.</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var driver in Model){
                <tr>
                    <td>
                       @driver.GivenName
                    </td>
                    <td>@driver.Surname</td>    
                    <td>@driver.MobileNumber</td>
                    <td>@driver.Email</td>
                    <td class="px-6 py-4">
                        <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline" asp-controller="Driver" asp-action="Edit" asp-route-id="@driver.Id">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
</div>